<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BoardCommentMapper">


    <!-- insertBoardComment -->
    <insert id="insertBoardComment">
        INSERT INTO board_comment (bno,mid,content)
        VALUES (#{bno},#{mid},#{content})
    </insert>

    <select id="selectBoardComment" resultType="comment">
        SELECT * FROM board_comment_view WHERE cno = #{cno}
    </select>

    <select id="selectBoardCommentList" resultType="comment">
        SELECT * FROM board_comment_view WHERE bno = #{bno}
    </select>

    <delete id="deleteBoardComment">
        DELETE FROM board_comment WHERE cno = #{cno}
    </delete>

    <update id="updateBoardComment">
        update board_comment
        set
        content = #{content}
        where
        cno = #{cno}
    </update>

    <select id="selectBoardCommentReaction" resultType="boardCommentReq">
        select * from board_comment_reaction where mid = #{id} and cno = #{cno}
    </select>

    <insert id="insertBoardCommentReaction">
        insert into board_comment_reaction(mid,cno,type) values(#{mid},#{cno},#{type});
    </insert>

    <delete id="deleteBoardCommentReaction">
        DELETE FROM board_comment_reaction
        WHERE id = #{id}
    </delete>

    <update id="updateBoardCommentReaction">
        update board_comment_reaction set type = #{type}
        where id = #{id}
    </update>

    <select id="selectBoardCommentReactionCount" resultType="reaction">
        SELECT
        count(case when br.`type` = 'like' then 1 end) as likeCount,
        count(case when br.`type` = 'dislike' then 1 end) as dislikeCount
        FROM
        board_comment b LEFT OUTER JOIN board_comment_reaction br ON b.cno = br.cno
        WHERE
        b.cno = #{cno}
    </select>
    <delete id="deleteBoardCommentBno">
        delete from board_comment where bno = #{bno}
    </delete>
</mapper>