<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="book1" class="xml.BookBean">
        	<property name="title" value="스프링 입문"/>
        	<property name="author" value="홍길동"/>
        	<property name="price" value="30000"/>
        </bean>
        
        <bean id="book2" class="xml.BookBean">
        	<constructor-arg value="스프링 부트 프로젝트 만들기"/>
        	<constructor-arg value="김철수"/>
        	<constructor-arg value="25000"/>
        </bean>
        
        <bean id="libraryBean" class="xml.LibraryBean">
        	<property name="libraryName" value="서울 도서관"/>
        	<property name="featuredBook" ref="book1"/>
        	<property name="genres">
        		<list>
        			<value>프로그래밍</value>
        			<value>데이터베이스</value>
        			<value>네트워크</value>
        		</list>
        	</property>
   			<property name="bookPrices">
   				<map>
   					<entry key="객체지향프로그래밍 입문" value="35000"/>
   					<entry key="딥러닝 기초" value="25000"/>
   				</map>
   			</property>
        </bean>
        
</beans>






