<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
    ====================================================================
    TODO [도전 4-4] CoffeeItem Bean 3개를 등록하세요.

    ① id="americano"
       - name  : "아메리카노"
       - price : 4500
       - size  : "Large"

    ② id="latteCoffee"
       - name  : "카페라떼"
       - price : 5000
       - size  : "Medium"

    ③ id="vanillaLatte"
       - name  : "바닐라라떼"
       - price : 5500
       - size  : "Medium"

    TODO [도전 4-5] component-scan을 추가하세요.
      base-package: com.spring.problem04
    ====================================================================
    -->
	<bean id="americano" class="com.spring.problem04.CoffeeItem">
		<property name="name" value="아메리카노"></property>
		<property name="price" value="4500"></property>
		<property name="size" value="Medium"></property>
	</bean>
	<bean id="latteCoffee" class="com.spring.problem04.CoffeeItem">
		<property name="name" value="카페라떼"></property>
		<property name="price" value="5000"></property>
		<property name="size" value="Medium"></property>
	</bean>
	<bean id="vanillaLatte" class="com.spring.problem04.CoffeeItem">
		<property name="name" value="바닐라라떼"></property>
		<property name="price" value="5500"></property>
		<property name="size" value="Medium"></property>
	</bean>
	
	<context:component-scan base-package="com.spring.problem04"></context:component-scan>
</beans>





