<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    =====================================================================
    TODO [도전 4-2] Student Bean을 두 개 등록하세요.

    ① id="student1"
       - name  : "홍길동"
       - age   : 25
       - major : "컴퓨터공학"

    ② id="student2"
       - name  : "김춘향"
       - age   : 23
       - major : "소프트웨어공학"

    힌트: <property name="필드명" value="값"/>
    =====================================================================
    -->
	<bean id="student1" class="com.spring.problem04.Student" >
		<constructor-arg value="홍길동"></constructor-arg>
		<constructor-arg value="25"></constructor-arg>
		<constructor-arg value="컴퓨터 공학"></constructor-arg>
	</bean>
	<bean id="student2" class="com.spring.problem04.Student" >
		<property name="name" value="김춘향"></property>
		<property name="age" value="23"></property>
		<property name="major" value="소프트웨어공학"></property>
	</bean>
	
</beans> 