.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
*.env

# Node
MiniTest_front/node_modules/
MiniTest_front/build/
MiniTest_front/.env.local
MiniTest_front/.npm

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.DS_Store
