<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
    ====================================================================
    TODO [문제 2-4] component-scan을 추가하세요.
      Spring이 com.spring.problem02 패키지를 탐색해
      @Component/@Service/@Repository 어노테이션이 붙은 클래스를
      자동으로 Bean으로 등록하도록 설정합니다.

      힌트:
        <context:component-scan base-package="패키지명"/>
    ====================================================================
    -->
	<context:component-scan base-package="com.spring.problem02"/>
</beans>
